<div>
  <br-input br-model="$ctrl.color" br-options="$ctrl.inputOptions"
    br-input-autocomplete="off">
    <br-input-help>
      {{$ctrl.inputHelpText}}
    </br-input-help>
  </br-input>
  <span ng-click="$ctrl.display.picker=!$ctrl.display.picker"
    style="float: left; width: 33px; height: 33px; border: 2px solid #dddddd; border-radius: 100%; margin-left: 5px; cursor: pointer"
    ng-style="{'background-color':$ctrl.color}"></span>
</div>
<div ng-show="$ctrl.display.picker" class="br-fadein br-fadeout">
  <color-picker ng-model="$ctrl.color"></color-picker>
</div>
