<div class="row">
  <form class="form-horizontal">
    <fieldset>
      <br-color-picker
        ng-model="$ctrl.color"
        br-options="{
          input: {
            name: 'color-picker-input',
            label: 'Background',
            helpTogglePosition: 'label',
            showValidation: false,
            columns: {
              label: 'col-sm-2',
              input: 'col-sm-1',
              help: 'col-sm-offset-1 col-sm-5'
            }
          }
        }">
        <br-color-picker-help>
          Pick your favorite color.
        </br-color-picker-help>
      </br-color-picker>
      </fieldset>
  </form>
</div>
